
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bemotiv</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="flex-container1">
        <div class="inner-flex-container">
            <h1><%= data.Motivation  %></h1>
            <h1>Do have a nice <%= data.Day +"day" %>!</h1>
        </div>
          
    
        
    </div>
    
    
</body>
</html>