body{
    background-image: url("../css/images/motivated1024x684.jpeg");
    background-color: #99d1ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    color: #05014a;
}

.flex-container1{
    
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inner-flex-container{
    width: 50vw;
    padding-inline: 5rem;
}
.quote{
    margin-bottom: 2rem;
}
.greetings{
    margin-block-end: 5rem;
}
